[unix_http_server]
file=/tmp/supervisor.sock

[supervisord]
logfile=/tmp/supervisord.log
logfile_maxbytes=50MB
logfile_backups=10
loglevel=info
pidfile=/tmp/supervisord.pid
nodaemon=false
minfds=1024
minprocs=200

[rpcinterface:supervisor]
supervisor.rpcinterface_factory = supervisor.rpcinterface:make_main_rpcinterface

[supervisorctl]
serverurl=unix:///tmp/supervisor.sock

[program:diorama-server]
command=/home/{{ linux_user }}/diorama-server/venv/bin/python3 /home/{{ linux_user }}/diorama-server/server.py
process_name=diorama-server
redirect_stderr=true
stdout_logfile=/tmp/diorama-server.log
numprocs=1
directory=/home/{{ linux_user }}/diorama-server

[program:diorama-node-logger]
command=/home/{{ linux_user }}/diorama-node-logger/venv/bin/python3 /home/{{ linux_user }}/diorama-node-logger/server.py
process_name=diorama-node-logger
redirect_stderr=true
stdout_logfile=/tmp/diorama-node-logger.log
numprocs=1
directory=/home/{{ linux_user }}/diorama-node-logger
